#Ignore raw and processed data
data/raw/
data/processed/
data/segments/

#Ignore audio files
*.wav
*.mp3

#Ignore system files
.DS_Store
Thumbs.db

#Python caches
__pycache__/
*.pyc
*.pyo

#VS Code settings
.vscode/
